// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

tbody {
    @extend small;
    white-space: nowrap;

    th {
        border-top: 2px solid $text-color;
        border-bottom: 1px solid $text-color;
        vertical-align: baseline;
    }

    th, td {
        padding-right: 1em;
    }

    th:last-child, td:last-child {
        padding-right: 0;
    }

    td {
        vertical-align: baseline;
    }

    tr:last-child {
        border-bottom: 2px solid $text-color;
    }
}

table {
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
}
